---
lastmod: 2023-06-15
title: Cryptocurrency with Privacy and Proof of Stake
titleOnlyInHead: 1
additionalHeadTag: |
  <link rel="canonical" href="https://blackcash.org/">
  <meta name="keywords" content="cryptoanarchy, cypherpunk, freedom">
---

<p>BlackCash is a project that explores a post-proof-of-work world.</p>
<p>An initial distribution of this cryptocurrency will either include an airdrop to BLN holders or favour <a href="https://blacknet.ninja/">Blacknet</a> in another way, but exact terms are not decided yet.</p>
<p>Contact us in <a href="https://app.element.io/#/room/#blacknet:matrix.org">Matrix</a> chat (room #blacknet:matrix.org) or on <a href="https://bitcointalk.org/index.php?topic=469640.0">BitcoinTalk</a> forum.</p>
<p>You can read <a href="posts/2023-05-18-origin-of-the-project.html">Origin of the project</a></p>
